/* .large{
  height: 450px;
  width: 38%;background-color: aqua;
  background-image: url(https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1427154982i/14241449._SX540_.jpg);
  
}
.m1{
  height:100px;
  width: 650px;
  
}
.s1{
  height: 17px;
  width:108.33px;
  
}
.bt1{
  height: 90px;
  width: 16.6%;
  background-color: transparent;
  border: none;
}
.red{
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 35px;
}
.blue{
  height: 70px;
  width: 70px;
  background-color:blue;
  border-radius: 35px;
}
.redblue{
  height: 70px;
  width: 70px;
  background-color: red;
  border: 15px solid blue;
  border-radius: 35px;
} */
.large{
    height:500px;
    width: 600px;
    background-color: aqua;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOzPdf7dtZH3Je1IO_KGuhNIuabTch1OJlTVFdLE0xbQ&usqp=CAU&ec=48600113");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn{
    height: 100px;
    width: 100px;
    background-color: black;
    background-color: transparent;
    border: none;
  }
  .redblue{ 
    height: 100px;
    width: 100px;
    background-color: black;
    background-color: transparent;
    border: none;
  }
  .red{
    height: 100px;
    width: 100px;
    background-color: black;
    background-color: transparent;
    border: none;
  }
  .blue{
    height: 100px;
    width: 100px;
    background-color: black;
    background-color: transparent;
    border: none;
  }